
html{
    color: #d5d5d5;
}

.root-container{
    padding: 10px;
    width: auto; /* Makes the container width determined by its content and the parent element's constraints */
    height: 100vh; /* Set the height of the container to fill the viewport */
    overflow-y: auto; /* Display a scroll bar on the vertical axis */
}

sp-action-button{
    width: 100%; /* Set the button width to fill the entire width of its container */
}

/* When the viewport width is greater than or equal to 500px, set the button width to 50% of its container */
@media (min-width: 500px) { 
    sp-action-button{
        width: 50%;
        
    }
}

h4{
    color: #201f1f;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid #201f1f;

}

.version{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

